{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MortElec</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tension</th>
                <td>{{ entity.tension }}</td>
            </tr>
            <tr>
                <th>Gestionnaire</th>
                <td>{{ entity.gestionnaire }}</td>
            </tr>
            <tr>
                <th>Typepylone</th>
                <td>{{ entity.typePylone }}</td>
            </tr>
            <tr>
                <th>Especes</th>
                <td>{{ entity.especes }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Nbcas</th>
                <td>{{ entity.nbCas }}</td>
            </tr>
            <tr>
                <th>Etatligne</th>
                <td>{{ entity.etatLigne }}</td>
            </tr>
            <tr>
                <th>Neutralisation</th>
                <td>{{ entity.neutralisation }}</td>
            </tr>
            <tr>
                <th>Dateneutralisation</th>
                <td>{{ entity.dateNeutralisation }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ entity.commune }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Observateur</th>
                <td>{{ entity.observateur }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ entity.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Idpoteaurisque</th>
                <td>{{ entity.idPoteauRisque }}</td>
            </tr>
            <tr>
                <th>Geomgeojson</th>
                <td>{{ entity.geomGeojson }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mortelec') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mortelec_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
